<!--
<div class="hero-unit">
  <h1>'Allo, 'Allo!</h1>
  <p>You now have</p>
  <ul>
      <li ng-repeat="thing in awesomeThings">{{thing}}</li>
  </ul>
  <p>installed.</p>
  <h3>Enjoy coding! - Yeoman</h3>
</div>
-->
<div class="issues-list" ng-show="issues.length">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th></th>
        <th>Subject</th>
        <th>Assignee</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="issue in issues">
        <td>
          {{issue.id}}
        </td>
        <td ng-button-color>
        </td>
        <td>
          <a href="#/issues/{{issue.id}}">{{issue.subject}}</a>
        </td>
        <td>
          {{issue.assigned_to.name}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
